body{
	font-family: 'Roboto', sans-serif;
	color:#777;
}
.txtupload{
	background-color:#fff !important;
}
.active{
	border-radius:0px;
}
#result a.editname{
	text-decoration: none;
	color:#777;
}
#result a.editname:hover{
	color:#a94442;
}
.form-horizontal .control-label{
	text-align: left;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
	background-color:#286090;
	border-color: #286090;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
	vertical-align: baseline;
	text-align:center;
}
.cls{
	clear:left;
}
.npd{
	padding-left:0px;
	padding-right:0px;
}
#topmenu nav{
	/*background: #333;*/
	/*border-color:#333;*/
	border-radius: 0px;
	z-index: 999999;
}
#topmenu .navbar-brand{
	text-transform: uppercase;
}
#leftmenu {
	padding-left:0px;
	z-index:99999;
}
#leftmenu #left{
	background: #f8f8f8;
	border:1px solid #eee;
}
#leftmenu ul li a{
	color:#777;
}
#leftmenu ul li {
	list-style: none;
}
#leftmenu ul.dropdown{
	display:none;
}
#leftmenu ul.dropdown2{
	display:none;
}
#leftmenu ul.dropdown2 li{
	padding:5px;
}
#leftmenu ul.dropdown2 li.active a{
	font-weight: bold;
}
#leftmenu ul.dropdown li{
	padding:5px;
	margin-left: -25px;
}
#leftmenu li:hover ul.dropdown{
	display:block;
}
#leftmenu li ul.dropdown2{
	display:block;
}
#leftmenu ul.dropdown{
	background: #fff;
	border:1px solid #cdcdcd;
	position: absolute;
    right: 0px;
    top: 0px;
    left: 195px;
    width: 180px;
}
#main{
	padding-left:0px;
}
.add{
	width:10%;
	float:left;
}
.setting{
	width:20%;
	float:left;
}
.locds{
	width:70%;
	float:left;
	margin-right:5px;
}
.search{
	width:40%;
	float:left;
}
.searchds{
	width:75%;
	float:left;
	margin-right:5px;
}
.rightselect{
	margin-bottom:10px;
}
.pagination{
	margin:0px !important;
}